<div mat-dialog-title>
    <h1>Employee Form</h1>
</div>
<form [formGroup]="empForm" (ngSubmit)="onFormSubmit();">
    <div mat-dialog-content class="content">
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>First Name</mat-label>
                <input matInput type="text" placeholder="Ex. Prathm" formControlName="FirstnameFeild">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input matInput type="text" placeholder="Ex. Shinde" formControlName="LastnameFeild">
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput type="email" placeholder="Ex. Prathm@gmail.com" formControlName="emailFeild">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Date of birth</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="dateFeild">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-radio-group aria-label="Select an option" formControlName="genderFeild">
                <mat-label><b>Gender</b></mat-label>
                <mat-radio-button value="male">Male</mat-radio-button>
                <mat-radio-button value="female">Female</mat-radio-button>
                <mat-radio-button value="other">Other</mat-radio-button>
            </mat-radio-group>
        </div>

        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Education</mat-label>
                <mat-select formControlName="educationFeild">
                    <mat-option *ngFor="let value of education" [value]="value">
                        {{value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Company</mat-label>
                <input matInput type="text" placeholder="Ex. Google" formControlName="companyFeild">
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Experience</mat-label>
                <input matInput type="number" placeholder="Ex. 4" formControlName="experienceFeild">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Package</mat-label>
                <input matInput type="number" placeholder="Ex. 12" formControlName="packageFeild">
                <mat-hint>In rupees</mat-hint>
            </mat-form-field>
        </div>


    </div>
    <div mat-dialog-action class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cancle</button>
        <button mat-raised-button color="primary" type="submit" [disabled]=!empForm.valid>{{data ? 'Update' :
            'Save'}}</button>
    </div>
</form>